footer {
    display: block;
    padding: 60px;
    background-color: lightgray;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin-bottom: 5px;
}

footer .info a{
    text-decoration: none;
    color: black;
}
