*, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Centra los contenidos */
.containter { 
    margin: auto;
    padding: 50px;
}

.mxw75vw {
    max-width: 75vw;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
}

.flexbox > * {
    margin: 1em 0;
}